<!--INTERPOLACIÓN:  Técnica de insertar valores dinámicos dentro de una cadena o plantilla de texto-->
<!-- <p>{{ title }} en Montilla con Angular</p>
<p>Total: {{ 5 + 5 }}</p>

<img src="{{url}}" alt=""> -->

<!--TWO-WAY DATA BINDING (VINCULACIÓN DE DATOS BIDIRECCIONAL): Sincronización automática de datos entre el componente y la vista.
Cuando los datos cambian en el componente, se actualiza instantáneamente la vista y viceversa. -->
<!-- <p>El nombre es : {{name}}</p>
<input type="text" [(ngModel)]="name"> -->

<!-- DIRECTIVAS: Son como atributos que pueden cambiar la apariencia o el comportamiento del DOM element -->

<!-- DIRECTIVAS ESTRUCTURALES: Son directivas que alteran la estructura del DOM (Document Object Model) al agregar, 
    eliminar o manipular elementos del mismo. Estas directivas se reconocen por el asterisco (*) que precede al nombre 
    de la directiva en la plantilla HTML. Las directivas estructurales más comunes en Angular son ngIf, ngFor, y ngSwitch -->

    <!-- ngFor: Itera sobre una lista y crea elementos en el DOM para cada elemento de la lista -->
    <!-- <ul *ngFor="let city of cities">
        <li>{{city}}</li>
    </ul> -->

    <!-- ngIf: Permite agregar o eliminar elementos del DOM en función de una expresión condicional -->
   <!--  <p *ngIf="name">El nombre es : {{name}}</p>
    <input type="text" [(ngModel)]="name"> -->
               
<!-- DIRECTIVAS DE ATRIBUTOS: Modifican la apariencia o el comportamiento de los elementos del DOM sin afectar su estructura.
    Estas directivas se aplican utilizando el nombre de la directiva como un atributo en los elementos HTML. Las directivas 
    de atributos más comunes en Angular son ngClass, ngStyle, y ngModel -->
    <!-- ngClass: Permite agregar o quitar clases CSS en función de una expresión -->
    <!-- <ul *ngFor="let city of cities">
        <li [ngClass]="'selected blue'">{{city}}</li>
    </ul> -->

        <!-- Array -->
       <!--  <ul *ngFor="let city of cities">
            <li [ngClass]="['selected', 'blue']">{{city}}</li>
        </ul> -->

        <!-- Objeto -->
        <!-- <ul *ngFor="let city of cities">
            <li [ngClass]="{'selected': city === 'Córdoba', 'blue': city !== 'Barcelona'}">{{city}}</li>
        </ul> -->

    <!-- ngStyle: Permite aplicar estilos en línea al elemento en función de una expresión -->
    <!-- <ul *ngFor="let city of cities"> -->
        <!-- Si es Madrid el color de fondo será azul pero si no, será verde -->
        <!-- <li [ngStyle]="{'color': 'white', 'background-color': city === 'Madrid' ? 'blue' : 'green'}">{{city}}</li> 
    </ul> -->

    <!-- Ciclo de vida de los componentes: Comienza con la instancia de ese componente o de una directiva. 
        Representa la vista del componente junto con sus vistas secundarias  
     Interface                          Method                    Description

     OnChanges                        ngOnChanges                 Called when an input or output binding value changes
     OnInit                            ngOnInit                   After the first ngOnChanges
     DoCheck                           ngDoCheck                  Developer’s custom change detection
     AfterContentInit              ngAfterContentInit             After component content initialized
     AfterContentChecked          ngAfterContentChecked           After every check of component content
     AfterViewInit                   ngAfterViewInit              After component’s view(s) are initialized
     AfterViewChecked              ngAfterViewChecked             After every check of a component’s view(s)
     OnDestroy                        ngOnDestroy                 Just before the directive is destroyed
    -->


<!-- EVENT BINDING O ENLACE DE EVENTOS: Nos permite escuchar y responder a las acciones de usuario, como por ejemplo: 
    pulsaciones de teclas, movimineto del mouse, clics -->
    <!-- Target event name o evento el click que hace el usuario y lo el template statement 
        o lo que respondemos sería un método -->
    <!-- <button (click)="onSave()">Save</button> -->

    <ul *ngFor="let city of cities">
        <!-- Que hace la linea de abajo: Cuando clickes sobre una ciudad se llamará al método onCityClicked pasandole 
            dicha ciudad. Si la ciudad es === que la seleción aplicará los estilos de selected. -->
        <li (click)="onCityClicked(city)" [ngClass]="{'selected': city === selection}">{{city}}</li>
    </ul>

    <div *ngIf="selection">
        <p >Your city is: {{selection}}</p>
        <button (click)="onClear()">Clear your selection</button>
    </div>

    
